<p id="notice"><%= notice %></p>

<h1>Pokémon</h1>

<p>Total Pokémon count -- <%= @pokemons.count %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Number of variants</th>
      <th colspan="2">Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |p| %>
      <tr>
        <td><%= link_to p.name, p %></td>
        <td><%= p.number %></td>
        <td><%= p.cards.count %></td>
        <td><%= link_to 'Edit', edit_pokemon_path(p) %></td>
        <td><%= link_to 'Remove', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 || <%= link_to 'New Pokemon', new_pokemon_path %> || 
<%= link_to 'All cards', cards_path %> ||

